<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <style>
    svg rect {
      fill: orange;
    }

    svg text {
      fill: red;
      font: 10px sans-serif;
      text-anchor: end;
    }
  </style>
</head>

<body>
  <!-- <p>dfsdf</p> -->
  <div id="chart"></div>
  <!-- <svg width="600" height="500"></svg> -->
  <!-- <button>update</button> -->
</body>
<script src="/javascripts/dist/bundle.js"></script>

</html>